<ion-view title="Bar Chart">
    <ion-content class="padding">
        <div class="" style="text-align:center">
            <button ng-click="setType('doughnut')" class="button button-balanced">
                Doughnut
            </button>
            <button ng-click="setType('line')" class="button button-dark">
                Line
            </button>
        </div>
        <br><br>

        <div ng-if="type == 'line'">
            <canvas id="line" class="chart chart-line" data="dataset.line.data"
                    labels="dataset.line.labels" legend="true" series="dataset.line.series"
                    click="onClick">
            </canvas>
        </div>
        <div ng-if="type == 'doughnut'">
            <canvas id="doughnut" class="chart chart-doughnut" data="dataset.doughnut.data"
                    labels="dataset.doughnut.labels"></canvas>
        </div>

    </ion-content>
</ion-view>